$black: #222629;
$grey: #474B4F;
$light-grey: #6B6E70;
$lime: #86C232;
$green: #61892F;
$white: #fff;

.my-flix {
  width: 100%;
  height: 100%;
  color: $light-grey;
  background-color: $black;
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: $black;
}