$black: #222629;
$grey: #474b4f;
$light-grey: #6b6e70;
$lime: #86c232;
$green: #61892f;
$white: #fff;

// New Colors

$Black: #000;
$ErrorRed: #8b0000;
$Taupe: #8c756a;
$Purple: #625779;

$Ivory: #fffff0;
$OliveDrab: #737c00;
$Orange: #dd8e5a;

.director-view {
  background-color: $Ivory;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.director-info {
  background-color: $Ivory;
  color: $Black;
}
