$black: #222629;
$grey: #474B4F;
$light-grey: #6B6E70;
$lime: #86C232;
$green: #61892F;
$white: #fff;

.director-view {
  background-color: $grey;
  margin-left: 2rem;
  text-align: center;
}

.director-info {
  background-color: $grey;
  color: $white;
}