$blue: #007bff;
$green: #28a745;
$grey: #6c757d;
$yellow: #ffc106;
$red: #dc3545;
$teal: #17a2b8;
$white: #fff;
$black: #343a40;

.login-form {
  margin: 8rem auto;
  width: 30%;
}

.login-title {
  margin: 6rem auto;
  width: 30%;
  color: $black;
  text-align: center;
}

.registration-group {
  margin: 0 auto;
  width: 30%;
}

.registration-button {
  cursor: pointer;
}