$black: #222629;
$grey: #474B4F;
$light-grey: #6B6E70;
$lime: #86C232;
$green: #61892F;
$white: #fff;

.login-view {
  text-align: center;
}

.login-form {
  margin: 4rem auto;
  width: 80%;
}

.login-label {
  text-align: left;
  color: $light-grey;
}

.login-title {
  margin: 4rem auto;
  width: 50%;
  color: $light-grey;
  text-align: center;
}

.login-submit {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.login-button {
  cursor: pointer;
  text-align:center;
  background-color: $green;
  color: $white;
  border-color: $green;
}

.login-button:hover,
.login-button:focus,
.login-button:active {
  background-color: $green;
  cursor: pointer;
  opacity: 0.8;
  color: $white;
  border-color: $green;
  box-shadow: 0 0 0 0.2rem rgba(0, 200, 100, .25);
}

.registration-group {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.need-account {
  text-align: center;
}

.register-button {
  cursor: pointer;
  background-color: $lime;
  color: $black;
  border-color: $lime;
}

.register-button:hover,
.register-button:focus,
.register-button:active {
  background-color: $lime;
  cursor: pointer;
  opacity: 0.8;
  color: $black;
  border-color: $lime;
  box-shadow: 0 0 0 0.2rem rgba(0, 200, 100, .25);
}
