$black: #222629;
$grey: #474B4F;
$light-grey: #6B6E70;
$lime: #86C232;
$green: #61892F;
$white: #fff;

.movie-cards {
  text-align: center;
  margin: 3rem auto;
  background-color: $grey;
  color: $white;
}

.card-item {
  background-color: $light-grey;
}

.detail-link {
  color: $lime;
}