$black: #222629;
$grey: #474B4F;
$light-grey: #6B6E70;
$lime: #86C232;
$green: #61892F;
$white: #fff;

.card-container {
  margin: 2rem;
}

.movie-cards {
  text-align: center;
  background-color: $grey;
  color: $white;
  min-height: 100%;
}

.card-item {
  background-color: $light-grey;
}

.detail-link {
  color: $lime;
}

.detail-link:hover {
  color: $green;
}