$black: #222629;
$grey: #474B4F;
$light-grey: #6B6E70;
$lime: #86C232;
$green: #61892F;
$white: #fff;

.movie-view {
  margin-left: 2rem;
  text-align: center;
  background-color: $grey;
}

.details {
  background-color: $grey;
  color: $white;
  padding: 1rem;
}

.movie-container {
  width: 60%;
}

.label {
  color: $lime;
}

.favorite-button {
  margin: 1rem auto;
  background-color: $green;
  border-color: $green;
  color: $white;
}

.favorite-button:hover,
.favorite-button:active,
.favorite-button:focus {
  background-color: $green;
  border-color: $green;
  color: $white;
  opacity: 0.7;
  box-shadow: 0 0 0 0.2rem rgba(0, 200, 100, .25);
}

.back-button {
  margin: 1rem;
  background-color: $lime;
  color: $black;
  border-color: $lime;
}

.back-button:hover,
.back-button:focus,
.back-button:active {
  background-color: $lime;
  color: $black;
  border-color: $lime;
  opacity: 0.7;
  box-shadow: 0 0 0 0.2rem rgba(0, 200, 100, .25);
}