$blue: #007bff;
$green: #28a745;
$grey: #6c757d;
$yellow: #ffc106;
$red: #dc3545;
$teal: #17a2b8;
$white: #fff;
$black: #343a40;

.movie-view {
  margin: 2rem auto;
  text-align: center;
}

.movie-container {
  width: 60%;
}
