$black: #222629;
$grey: #474B4F;
$light-grey: #6B6E70;
$lime: #86C232;
$green: #61892F;
$white: #fff;

.main-view {
  width: 100%;
}

.navbar,
.navbar-dark {
  width: 100%;
}

.button-container {
  margin: 1rem auto;
  text-align: center;
}

.main-view-title {
  color: $light-grey;
  margin: 1rem auto;
}

.profile-button {
  margin-right: 1rem;
  background-color: $green;
  color: $white;
  border-color: $green;
}

.profile-button:active,
.profile-button:hover,
.profile-button:focus {
  background-color: $green;
  color: $white;
  border-color: $green;
  opacity: 0.7;
  box-shadow: 0 0 0 0.2rem rgba(0, 200, 100, .25);
}

.log-out-button {
  margin: 1rem auto;
  background-color: $lime;
  color: $black;
  border-color: $lime;
}

.log-out-button:active,
.log-out-button:hover,
.log-out-button:focus {
  background-color: $lime;
  color: $black;
  border-color: $lime;
  opacity: 0.7;
  box-shadow: 0 0 0 0.2rem rgba(0, 200, 100, .25);
}