$black: #222629;
$grey: #474b4f;
$light-grey: #6b6e70;
$lime: #86c232;
$green: #61892f;
$white: #fff;

// New Colors
$Black: #000;
$ErrorRed: #8b0000;
$Taupe: #8c756a;
$Purple: #625779;

$Ivory: #fffff0;
$OliveDrab: #737c00;
$Orange: #dd8e5a;
// Colors End

.main-view {
  width: 100%;
}

.row {
  justify-content: center;
  margin: 1rem;
}

.movies-container {
  justify-content: center;
}

.navbar,
.navbar-dark {
  justify-content: center;
  margin: 1rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.main-view-title {
  color: $Black;
}

.profile-button {
  margin: 1rem;
  background-color: $green;
  color: $white;
  border-color: $green;
}

.profile-button:active,
.profile-button:hover,
.profile-button:focus {
  background-color: $green;
  color: $white;
  border-color: $green;
  opacity: 0.7;
  box-shadow: 0 0 0 0.2rem rgba(0, 200, 100, 0.25);
}

.log-out-button {
  margin: 1rem;
  background-color: $OliveDrab;
  color: $Ivory;
  border-color: $OliveDrab;
}

.log-out-button:active,
.log-out-button:hover,
.log-out-button:focus {
  background-color: $OliveDrab;
  color: $Ivory;
  border-color: $OliveDrab;
  opacity: 0.7;
  box-shadow: 0 0 0 0.2rem rgba(0, 200, 100, 0.25);
}
