$black: #222629;
$grey: #474B4F;
$light-grey: #6B6E70;
$lime: #86C232;
$green: #61892F;
$white: #fff;

.genre-view {
  background-color: $grey;
  text-align: center;
  height: 100%;
}

.genre-info {
  padding: 1rem;
  background-color: $grey;
  color: $white;
}

