$black: #222629;
$grey: #474B4F;
$light-grey: #6B6E70;
$lime: #86C232;
$green: #61892F;
$white: #fff;

.registration-form {
  margin: 3rem auto;
  width: 60%;
  text-align: center;
}

.register-title {
  margin: 3rem auto;
  color: $light-grey;
  text-align: center;
}

.registration-button {
  background-color: $green;
  border-color: $green;
  color: $white;
  margin: 0.5rem auto;
}

.registration-button:hover,
.registration-button:active,
.registration-button:focus {
  background-color: $green;
  border-color: $green;
  color: $white;
  opacity: 0.7;
  box-shadow: 0 0 0 0.2rem rgba(0, 200, 100, .25);
}