$black: #222629;
$grey: #474B4F;
$light-grey: #6B6E70;
$lime: #86C232;
$green: #61892F;
$white: #fff;

.registration-form {
  margin: 3rem auto;
  width: 50%;
  text-align: center;
}

.register-title {
  margin: 3rem auto;
  width: 30%;
  color: $black;
  text-align: center;
}